flows.json
[{"id":"310bf7b4.86aca8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"f87b59ef.fa7c68","type":"http request","z":"310bf7b4.86aca8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/0e528182-40c4-449f-ba87-f0445c0beb67/deployments/7bc28b0f-dca3-45de-a816-48e0a68f0160/online","tls":"","proxy":"","x":285.00000762939453,"y":223.00000286102295,"wires":[["28d1ad99.01fe82","aeb1022.51845"]]},{"id":"89b2d09e.f6bdb","type":"function","z":"310bf7b4.86aca8","name":"prediction","func":"var token=msg.payload.token;\nvar age=global.get(\"age\");\nvar chestpain =global.get(\"cp\");\nvar thalach= global.get(\"thalach\");\nmsg.payload={\"fields\":[\"age\",\"chestpain\",\"thalach\"],\"values\":[[age,chestpain,thalach]]};\nmsg.headers={\"Authorization\":\"Bearer\"+token}\nreturn msg;","outputs":1,"noerr":0,"x":98,"y":226.00000286102295,"wires":[["f87b59ef.fa7c68"]]},{"id":"ded2c9bc.32e668","type":"http request","z":"310bf7b4.86aca8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":459.00000762939453,"y":116.00000190734863,"wires":[["e0b4da9e.0d98e8","89b2d09e.f6bdb"]]},{"id":"8c04ffb7.f1ab2","type":"function","z":"310bf7b4.86aca8","name":"token generation","func":"\nglobal.set(\"age\",msg.payload.age)\n\nglobal.set(\"thalach\",msg.payload.thalach)\nreturn msg;","outputs":1,"noerr":0,"x":256,"y":116.0000057220459,"wires":[["ded2c9bc.32e668"]]},{"id":"e0b4da9e.0d98e8","type":"debug","z":"310bf7b4.86aca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780.0000114440918,"y":113.0000057220459,"wires":[]},{"id":"28d1ad99.01fe82","type":"debug","z":"310bf7b4.86aca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":527.0000076293945,"y":198.00000190734863,"wires":[]},{"id":"3b2fdd57.f6c352","type":"ui_text","z":"310bf7b4.86aca8","group":"ab8643ad.30ef1","order":5,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":848.0000076293945,"y":309.00000381469727,"wires":[]},{"id":"f727166b.b2cb88","type":"ui_form","z":"310bf7b4.86aca8","name":"","label":"","group":"ab8643ad.30ef1","order":3,"width":0,"height":0,"options":[{"label":"age","value":"age","type":"number","required":true},{"label":"Thalach","value":"thalach","type":"number","required":true}],"formValue":{"age":"","thalach":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":55,"y":116.0000057220459,"wires":[["8c04ffb7.f1ab2"]]},{"id":"b442b8c7.e7d8f8","type":"ui_dropdown","z":"310bf7b4.86aca8","name":"","label":"","tooltip":"","place":"Select option","group":"ab8643ad.30ef1","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Assymptomatic","value":"Assymptomatic","type":"str"},{"label":"Angynal","value":"Angynal","type":"str"},{"label":"Atypical","value":"Atypical","type":"str"},{"label":"Typical","value":"Typical","type":"str"}],"payload":"","topic":"","x":65,"y":20,"wires":[["358ec7ed.08ae48"]]},{"id":"358ec7ed.08ae48","type":"function","z":"310bf7b4.86aca8","name":"","func":"if (msg.payload == \"Asymptomatic\"){\n    global.set(\"cp\",0)\n}\nelse if (msg.payload == \"Angynal\"){\n    global.set(\"cp\",1)\n}\nelse if (msg.payload == \"Atypical\"){\n    global.set(\"cp\",2)\n}\nelse {\n    global.set(\"cp\",3)\n}\nreturn msg;","outputs":1,"noerr":0,"x":456.50000762939453,"y":20,"wires":[["ee3283c8.baa8e"]]},{"id":"ee3283c8.baa8e","type":"debug","z":"310bf7b4.86aca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":752.1000595092773,"y":24.00000762939453,"wires":[]},{"id":"aeb1022.51845","type":"function","z":"310bf7b4.86aca8","name":"","func":"msg.payload = msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":611.5,"y":366,"wires":[["3b2fdd57.f6c352"]]},{"id":"ab8643ad.30ef1","type":"ui_group","z":"","name":"Default","tab":"375da507.0f45da","disp":true,"width":"6","collapse":false},{"id":"375da507.0f45da","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]